@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4 mt-5" style="color: purple">Feedback Helper</h1>
    <h3 style="color: teal">
        Система контролю навчальних досягнень студентів
    </h3>  
    <hr/>
    <div>
        <img src="img/logo3.png" alt="..." style="width: 30%; margin-top: 50px"/>
    </div>
</div>
